@import "../../styles/mixins";

.container {
  padding: 8em 0 4em 0;
  //background: rgba(255, 255, 255, 1);
  background: #f4f4f599;
  //background: #f4f4f5;
  //box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.08);
}
// top

.topContent {
  //@include flexRegular(row, space-between);
  width: 90%;
  max-width: 1300px;
  margin: 1em auto;
  @include flexRegular(row, space-between);
}

.topText {
  @include flexRegular(column, flex-start);
  align-items: flex-start;
  //background: pink;
}
.welcome {
  h2 {
    font-size: 20px;
    font-family: Satoshi-Var;
    font-weight: 500;
  }
  p {
    font-family: Satoshi-Var;
    color: #52525b;
  }
}
.tradesNav {
  margin-top: 2em;
  @include flexRegular(row, flex-start);
  .trade {
    color: #a1a1aa;
    font-family: SpaceGrotesk;
    font-size: 17px;
    cursor: pointer;
    padding: 6px;
    margin-right: 1em;

    &:nth-child(1) {
      color: #27272a;
      border-bottom: 4px solid #20709b;
    }
  }
}

//wallet Bx
.walletBox {
  // margin-right: 2em;
  background: linear-gradient(101.93deg, #20709b 2.36%, #1e4097 100%);
  border-radius: 12px;
  padding: 1.2em 2em;
  @include flexRegular(row, flex-start);
  color: #fff;
}
.walletAmt {
  @include flexRegular(column, flex-start);
  align-items: flex-start;
  margin-right: 1.5em;
  font-family: SpaceGrotesk;
  h2 {
    font-size: 24px;
    &:nth-child(1) {
      color: #6aa9cb;
    }
  }
  p {
    margin-top: 5px;
  }
}
.walletDesc {
  @include flexRegular(row, flex-start);
  img {
    margin-left: 7px;
  }
}
.walletUser {
  color: #fff;
  border: 1px solid #f4f4f5;
  border-radius: 12px;
  padding: 0.5em 1em;
  @include flexRegular(row, flex-start);
  img {
    margin-right: 1em;
  }
}

//action Boxes

// .actionBoxes {
//   background: #dbdbdb;
// }
.actionBxContent {
  @include flexRegular(row, space-between);
  width: 90%;
  max-width: 1300px;
  margin: 2.5em auto;
}
.tradeListBox {
  width: 38%; //
  height: 80vh;
  background: #fff;
  border: 0.4px solid #a1a1aafb;
  border-radius: 8px;
  padding-top: 5px;
}

.tlTop {
  @include flexRegular(row, space-between);
  width: 90%;
  margin: 1.2em auto 0 auto;
  font-family: Satoshi-Var;
  font-size: 16px;
  color: #71717a;
  font-weight: lighter;
}
.tradeItem {
  background: #f4f4f5;
  margin: 2em 0;
  padding: 1.5em 0;
}
.itemContent {
  width: 90%;
  margin: auto;
  @include flexRegular(row, space-between);
  align-items: flex-start;
}

.trTitle {
  @include flexRegular(row, flex-start);
  h2 {
    font-family: Satoshi-Var;
    font-weight: 400;
    color: #27272a;
  }
  img {
    margin: 0 1em;
  }
}
.trIcons {
  margin-top: 6px;
}
.tradeStatus {
  @include flexRegular(row, flex-start);
  color: #71717a;
}
.yellow {
  background: #f3bb1c;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 10px;
}
.mLeft {
  margin-left: 1em;
}
.search {
  filter: drop-shadow(0px 4px 40px rgba(0, 0, 0, 0.08));
  background: #ffffff;
  border-radius: 4px;
  //border: 0.4px solid #a1a1aa;
  background: rgba(255, 255, 255, 1);
  padding: 1em;
  width: 68%;
  p {
    font-size: 0.9em;
  }
}
.sort {
  width: 30%;
  filter: drop-shadow(0px 4px 40px rgba(0, 0, 0, 0.08));
  background: #ffffff;
  border-radius: 4px;
  background: rgba(255, 255, 255, 1);
  padding: 1em;
  @include flexRegular(row, flex-start);
  img {
    margin-left: 6px;
  }
  p {
    font-size: 0.94em;
  }
}
.singleTradeBox {
  position: relative;
  width: 28%; //
  height: 80vh;
  border: 0.4px solid #a1a1aafb;
  border-radius: 8px;
  background: #fff;
}
.dotBx {
  padding: 20px;
  @include flexRegular(row, flex-end);
}
.itemTitle {
  width: 80%;
  padding: 1em 0;
  margin: 1em auto;
  border: 0.5px solid #20709b;
  border-radius: 12px;
  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.1);
  @include flexRegular(row, center);
  h2 {
    margin: 0 2em;
    color: #20709b;
    font-family: Satoshi-Var;
    font-size: 18px;
    font-weight: 400;
  }
}
.noReq {
  width: 85%;
  margin: auto;
  h2 {
    margin: 2.5em 0;
    text-align: center;
    font-family: Satoshi-Var;
    font-weight: 400;
    font-size: 22px;
  }
}
.cr {
}
.closeBtm {
  position: absolute;
  text-align: center;
  cursor: pointer;
  color: #1e4097;
  font-size: 18px;
  font-weight: 700;
  bottom: 1em;
  width: 100%;
}
.chatBox {
  position: relative;
  width: 28%; //
  height: 80vh;
  border: 0.4px solid #a1a1aafb;
  border-radius: 8px;
  background: #fff;
}
.chatInput {
  //background: pink;
  position: absolute;
  bottom: 1em;
  width: 100%;
  @include flexRegular(row, center);
  input {
    border: 1px solid #6aa9cb;
    border-radius: 4px;
    height: 48px;
    width: 65%;
    outline: none;
    padding: 0 1em;
    font-family: SpaceGrotesk;
    font-size: 14px;
  }
  button {
    margin-left: 1.2em;
    @include btnRegular(none, 4vw);
    background: linear-gradient(101.93deg, #20709b 2.36%, #1e4097 100%);
    border-radius: 4px;
  }
}
.cr {
  @include btnRegular(none, 5vw);
  background: linear-gradient(101.93deg, #20709b 2.36%, #1e4097 100%);
  border-radius: 4px;
  color: #fff;
  margin-left: 2em;
}
