@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
@font-face {
  font-family: Satoshi-Var;
  src: url(/fonts/Satoshi-Variable.eot);
  src: url(/fonts/Satoshi-Variable.eot?#iefix) format("embedded-opentype"),
    url(/fonts/Satoshi-Variable.woff2) format("woff2"),
    url(/fonts/Satoshi-Variable.woff) format("woff"),
    /* url(/fonts/Satoshi-Variable.otf) format("opentype"), */
      url(/fonts/Satoshi-Variable.ttf) format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: Satoshi-Bold;
  src: url(/fonts/Satoshi-Bold.eot);
  src: url(/fonts/Satoshi-Bold.eot?#iefix) format("embedded-opentype"),
    url(/fonts/Satoshi-Bold.woff2) format("woff2"),
    url(/fonts/Satoshi-Bold.woff) format("woff"),
    url(/fonts/Satoshi-Bold.otf) format("opentype"),
    url(/fonts/Satoshi-Bold.ttf) format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: Satoshi-Reg;
  src: url(/fonts/Satoshi-Regular.eot);
  src: url(/fonts/Satoshi-Regular.woff) format("woff"),
    url(/fonts/Satoshi-Regular.ttf) format("truetype");
}
@font-face {
  font-family: Satoshi-Light;
  src: url(/fonts/Satoshi-Light.eot);
  src: url(/fonts/Satoshi-Light.woff) format("woff"),
    url(/fonts/Satoshi-Light.ttf) format("truetype");
}
@font-face {
  font-family: SpaceGrotesk;
  src: url(/fonts/SpaceGrotesk-Light.eot);
  src: url(/fonts/SpaceGrotesk-Light.woff) format("woff"),
    url(/fonts/SpaceGrotesk-Light.ttf) format("truetype");
}
@font-face {
  font-family: Neue-reg;
  src: url(/fonts/neue/NeueMachina-Regular.otf) format("opentype");
}
@font-face {
  font-family: Neue-light;
  src: url(/fonts/neue/NeueMachina-Light.otf) format("opentype");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth !important;
}
html,
body {
  font-display: swap;
  font-family: "Nunito Sans", sans-serif, Helvetica, Satoshi-Bold, Satoshi-Reg,
    Satoshi-Light, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  max-width: 100vw;
  width: 100%;
  /* overflow-x: hidden; */
}

a {
  color: inherit;
  text-decoration: none;
}
button {
  cursor: pointer;
}
button:disabled {
  opacity: 0.4;
  pointer-events: none;
}

li {
  list-style: none;
}
.disable {
  opacity: 0.4;
  pointer-events: none;
}
.disable2 {
  opacity: 0.6;
  pointer-events: none;
}
.successTxt {
  color: #277727 !important;
}

input,
select,
textarea {
  font-size: 100%;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="radio"] {
  -webkit-appearance: radio;
}
